@model BookingShared.ViewModels.UserViewModel
@{
    ViewData["Title"] = "UserInfo";
}

<div class="h4 text-info">Information about user @Model.user.UserName</div>

<div>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post" asp-controller="Account" asp-action="Register">
        <div class="form-group col-md-3">
            <label asp-for="user.Email" class="control-label"></label><br />
            <input asp-for="user.Email" class="form-control" />
            <span asp-validation-for="user.Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="user.UserName" class="control-label"></label><br />
            <input asp-for="user.UserName" class="form-control" />
            <span asp-validation-for="user.UserName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="user.FirstName" class="control-label"></label><br />
            <input asp-for="user.FirstName" class="form-control" />
            <span asp-validation-for="user.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="user.LastName" class="control-label"></label><br />
            <input asp-for="user.LastName" class="form-control" />
            <span asp-validation-for="user.LastName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="user.Nationality" class="control-label"></label><br />
            <input asp-for="user.Nationality" class="form-control" />
            <span asp-validation-for="user.Nationality" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="user.DateOfBirth" class="control-label"></label><br />
            <input asp-for="user.DateOfBirth" class="form-control" />
            <span asp-validation-for="user.DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="user.MobileNumber" class="control-label"></label><br />
            <input asp-for="user.MobileNumber" class="form-control" />
            <span asp-validation-for="user.MobileNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="user.PassportNumber" class="control-label"></label><br />
            <input asp-for="user.PassportNumber" class="form-control" />
            <span asp-validation-for="user.PassportNumber" class="text-danger"></span>
        </div>
        @*<div class="form-check col-md-3">
            <input type="submit" value="Change" class="btn btn-info" />
        </div>*@
    </form>
</div>